<!DOCTYPE html>
<html lang="es">
<head>
    {{>../../partials/meta}}
    <title>Sign In|Up</title>
    <link rel="stylesheet" href="../../css/pages/sign.css">
</head>
<body>
    <div class="page-main">
        <a href="../../index.html" class="go-back"><i class="ri-arrow-left-line"></i>Regresar</a>
    </div>
</body>
</html>