{{!-- FOOTTER --}}
<footer class="footer">
    <div class="footer__information">
        {{!-- <div class="footer-icons">
            <a href=""><i class="fa-brands fa-facebook-f facebook"></i></a>
            <a href=""><i class="fa-brands fa-twitter twitter"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-github"></i></a>
        </div> --}}
        <div class="footer__elements">
            <a href="#">Servicios</a>
            <a href="#">Clientes</a>
            <a href="#">Trabajos</a>
            <a href="#">Experiencias</a>
            <a href="#">Cursos</a>
        </div>
    </div>
</footer>
<div class="copyright">
    <p>&copy; 2024; Diseñado por Felipe</p>
</div>