<!-- HEADER -->
<header>
  <div class="header">
    <a href="index.html" class="logo">Alex Nortech</a>
    <nav>
      <ul class="nav-list">
        <li><a href="pages/hablar/index.html">Hablar</a></li>
        <li><a href="pages/proyectos/index.html">Proyectos</a></li>
        <li><a href="pages/libros/index.html">Libros</a></li>
        <li><a href="pages/cursos/index.html">Cursos</a></li>
        <li><a href="pages/servicios/index.html">Servicios</a></li>
        <li><a href="pages/blog/index.html">Blog</a></li>
        <li><a href="pages/portafolio/index.html">Portafolio</a></li>
        <li><a href="pages/contacto/index.html">Contacto</a></li>
      </ul>
    </nav>
    <a href="pages/sign/index.html" class="btn-access">Acceder<i class="ri-arrow-right-line"></i></a>
    <div class="bx bx-menu" id="menu-icon"></div>
  </div>
</header>